[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "==2.4.1"
stripe = "*"
flask-marshmallow = "*"
flask-bootstrap = "*"

[requires]
python_version = "3.6"

[dev-packages]
