[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "==2.5.1"
stripe = "*"
flask-bootstrap = "*"
flask-wtf = "*"
wtforms = "*"
email-validator = "*"
flask-login = "*"
uvicorn = "*"

[requires]
python_version = "3.6"

[dev-packages]
